[Unit]
Description=Telegram bot 'Extract'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/ExtractTextBot/
ExecStart=/usr/bin/python3 extractbot.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target